/*我是main2.scss*/
h4 {
  color: blue;
}
.testflex {
  display: flex
}

@for $i from 1 to 10 {
  .border-#{$i} {
    border: #{$i}px solid blue;
  }
}

@for $i from 1 through 3 {
  .item-#{$i} { width: 2em * $i; }
}//

